//- ----------------------------------------------------------------------------
//-  About
//- ----------------------------------------------------------------------------

p Hi, I'm Ines and this is my blog. I pretty much grew up on the internet and have been blogging and making websites for over 13 years. After finishing my degree in Media and Communications, I moved to Berlin in 2010 and have been making all kinds of things happen ever since. In early 2015, I left my executive sales and marketing job at #[a(href="http://www.exberliner.com" target="_blank") Exberliner], moved to New York for a month and a half and became full-time self-employed to take on exciting new projects (and work in my pyjamas, even though every business advice column tells me that this is a bad idea).

p I specialise in digital publishing, advertising, hands-on sales strategies and contemporary marketing. I enjoy unconventional ideas, efficient workflows and writing neat and functional front-end code. I'm fluent in HTML, CSS and JavaScript. Do you have questions or interesting project ideas? Hit me up!

.block-center!=partial("_includes/_social-icons")
