include _includes/_mixins

//- ----------------------------------------------------------------------------
//-  Blog index
//- ----------------------------------------------------------------------------

header.home-header

  .block-center
    h1.logo Hello, I&rsquo;m Ines.
    p.slogan I'm a freelance web developer, marketing consultant and digital strategist based in Berlin.

    !=partial("_includes/_social-icons")

section.teasers
  !=partial("_includes/_latest-posts")