//- ----------------------------------
//- ⚡️ INDEX
//- ----------------------------------

include _includes/_mixins

header.header(role="banner")
header.o-header.u-text-label(role="banner")
    a(href="/about") About me
    include _includes/_logo
    a.text-label(href="https://twitter.com/" + profiles.twitter target="_blank") Twitter

!=partial("_includes/_latest-posts")
