//- ----------------------------------------------------------------------------
//-  Page template
//- ----------------------------------------------------------------------------

article.single.page
  .single-headlines
    h1=headline

  .single-content
    !=yield

if current.path[0] == '404'
  !=partial("_latest-posts", { "posts": 3 })