//- ----------------------------------------------------------------------------
//-  Social share icons and links
//- ----------------------------------------------------------------------------

a.icon.icon--twitter(href="https://twitter.com/share?text=" + headline + "&related=" + profiles.twitter + "&via=" + profiles.twitter target="_blank" title="Share on Twitter")

a.icon.icon--facebook(href="https://www.facebook.com/sharer.php?u=" + (posturl || "") target="_blank" title="Share on Facebook")

if medium
  a.icon.icon--medium(href=medium target="_blank" title="Read on Medium")