include _mixins

//- Share Icons
//- ============================================================================

a(href="https://twitter.com/share?text=" + headline + "&amp;via=" + profiles.twitter target="_blank" aria-label="Share on Twitter")
    +icon("twitter", 16)

a(href="https://www.facebook.com/sharer.php?u=" + (posturl || "") target="_blank" aria-label="Share on Facebook")
    +icon("facebook", 16)

if medium
    a(href=medium target="_blank" aria-label="Read on Medium")
        +icon("medium", 16)
