//- ----------------------------------
//- ⚡️ LAYOUT > BODY
//- ----------------------------------

body
    animation: fadeIn 0.6s

.header
    @include flex(center, center, row nowrap)
    color: $color-text
    max-width: 100%
    padding: 50px
    width: 100%

    & > *:not(:last-child)
        margin-right: 50px

.header-logo
    flex: 0 1 auto
    max-width: 100%

.footer
    @include flex(space-between, center, row wrap)
    background: $color-bg
    color: $color-text
    padding: 50px 75px
    position: relative
    width: 100%
    z-index: 10

.footer-list
    margin-bottom: 30px
    line-height: 5

.footer-item:not(:last-child)
    margin-right: 15px

.block
    color: $color-text
    margin-bottom: 50px

.block-center
    text-align: center
