//  Style
// =============================================================================

$color-bg: #fff !default
$color-text: #222 !default
$color-grey: #fafafa !default

$font-primary: 'EB Garamond', 'Adobe Garamond Pro', Garamond, Georgia, 'Times New Roman', serif !default
$font-secondary: 'GT Walsheim', 'Arial Black', Gadget, sans-serif !default
$font-tertiary: 'Proxima Nova', Tahoma, Geneva, sans-serif !default
$font-code: 'Source Code Pro', Consolas, 'Andale Mono', Menlo, Monaco, Courier, monospace !default

$breakpoint-m: 800px

@import mixins

@import _base/reset
@import _base/fonts
@import _base/prism
@import _base/animations

@import typography
@import components

@import _layout/page
@import _layout/article
@import _layout/teasers
