include ../_includes/_mixins

p If you know me, you know how much I #[a(href="https://www.youtube.com/watch?v=5Tdokh1KYuQ" target="_blank") love] #[a(href="https://www.youtube.com/watch?v=q1mAGQAw3Oc" target="_blank") sloths]. So when I first came across #[a(href="http://slittens.tumblr.com/" target="_blank") Slittens], cute little kittens with sloth faces, I naturally fell in love. Some might say I even developed an unhealthy obsession, but that's a different story. I made myself a slitten #[a(href="img/slitten_background.jpg" target="_blank") phone background] and even got a slitten-themed #[a(href="img/slitten_card.jpg" target="_blank") birthday card], made by my super talented co-worker Rachel.

+image("slitten_original.jpg", false, true)

p Still, people kept telling me over and over that I couldn't have one because they "don't exist" (?!) and weren't "real" or "possible" (excuse me?). #[strong But they were wrong.] For my birthday last year, Matt got me one! Handmade out of felt by the amazingly talented #[a(href="https://www.etsy.com/de/shop/darialvovsky" target="_blank") Daria Lvovsky] (check out her Etsy shop for some truly stunning felt magic).

+image("slitten_double.jpg")

p #[strong.meta Felted slitten] #[a(href="https://www.etsy.com/de/shop/darialvovsky" target="_blank") Daria Lvovsky]#[br]
  | #[strong.meta Photos] #[a(href="http://jowajohv.tumblr.com" target="_blank") Johanna Warda]#[br]
  | #[strong.meta Original slittens] #[a(href="http://rachaelaslett.com.au" target="_blank") Rachael Aslett]