include ../_includes/_mixins

p As a teenager, I always knew about the latest up and coming indie bands, way before they ever toured Europe or released their first album. I collected early bootlegs and demos that were shared and traded on Livejournal communities and together with everything else I was into, I accumulated an impressive digital music collection over the years. It survived several computers and broken hard drives and always stayed neatly organised in iTunes, complete with album covers and immaculate ID3 tags.

p Despite being an early Spotify adopter (I made my friends in Sweden sign up for me when it wasn't available in Germany yet), I never used it very much. Back then, my music collection was way too important and Spotify just didn't integrate well with my existing collection and my hundreds of playlists - to be honest, it never actually did. But I still made the move last year after accidentally messing up my folders and Dropbox sync. I lost a bunch of files in the process and decided to start over. Surprisingly, I didn't even feel devastated - I was relieved to finally break free. I used a random third-party converter to import my playlists and spent hours compiling a new library.

p It's hard to say what it was that bothered me so much about Spotify. The interface, the design, the often poor performance, the app, the social aspect? All I know is that after about half a year, I cancelled my subscription and subsequently used it even less, because of the ads.

h2 The move

p When Apple launched Apple Music and started offering a #[a(href="https://www.apple.com/music/membership/" target="_blank") free three-month trial], I decided to give it a go. I eventually spent $4.99 on the #[a(href="http://movetoapple.com" target="_blank") Move to Apple Music] application and moved my most treasured playlists, including a 16-hour song collection simply titled "DRUNK". The results weren't perfect but acceptable. Completing albums based on a single only took two clicks, the recommended artists easily guided my through my favourite music and I enjoyed rebuilding my essential collection from scratch.

h2 The good

p Oh, how I missed the nice and clean look of iTunes. I'm not an Apple fangirl by any means, but even seeing that little white icon with the gradient makes me happy. It does <em>not</em> want me to add friends, connect to Facebook and share what I'm listening to, and it seamlessly syncs and scrobbles to Last.fm from all devices (which I've been doing more or less constantly for over ten years).

p iTunes comes with a very clear distinction between your own music library and the music available on Apple Music. The artist view presents an overview in a very Spotify-esque (but more visually appealing) fashion, including similar artists and an option to listen to the entire discography, whereas the album view leaves you alone with all that stuff and just lets you listen to the fucking albums you want to listen to.

p While Spotify's desktop app felt merely like an easier way to access and save on-demand music, Apple Music on iTunes brings back that old excitement of organising and cataloguing a big music library and I often forget that most of it is not actually sitting around somewhere on my harddrive anymore. And that I don't have to carefully sync selected playlists to my phone anymore - I can simply browse my library on there and make playlists and albums available offline if needed.

+image("spotify_apple2.jpg", "One of the more presentable parts of my library")

h2 The bad

p Aside from a bunch of frustrating UI and #[a(dhref="https://medium.com/@_prkr/apple-music-first-impressions-of-a-ux-designer-e4c29a43799f" target="_blank") UX problems], there are definitely issues with iTunes Match and the new iCloud Music Library. Yes, it will send all your existing music to the Apple servers and yes, it will try to "match" it with what's already there, with varying results. Some people have #[a(href="http://www.theverge.com/2015/7/1/8877129/apple-music-icloud-problems" target="_blank") reported] pretty bad fuck-ups. I still need to find a way to convince Apple that even though there might already be a live version of that one particular song from the official live album, it is <em>not</em> the version I want to listen to right now. And that other live version of the same song isn't, either. Neither is that third one and I agree it's bad and I never listen to it... but I was at that gig ten years ago, okay? They're still all vital parts of my music collection.

h2 The future

p My trial hasn't expired yet, but I know I'll probably become a paying customer. An unlimited but organised music collection, accessible from anywhere, with the convenient functionality of iTunes for an acceptable price - this is something I've been dreaming of since I was a teenager. But the industry was way too stubborn at the time and busy fighting vicious battles against piracy. Apple Music is nowhere near perfect and probably won't be for a while. But it's the closest I've been to an ideal music collection, ever since downloading #[a(href="http://www.june29.com/cfs/winamp-screen.gif") Winamp] back in 2002.